In [1]:
import pandas as pd
import  numpy as np
import matplotlib.pyplot as plt
import seaborn as sbs

In [2]:



class Parent:
    def __init__(self,name,age):
        self.name=name
        self.age=age 

    def show(self):
        print(self.name,self.age)

class Sub(Parent):
    def __init__(self,name,age,classes):
        Parent.__init__(self,name,age)
        self.classes=classes
    def show(self):
        print(self.name,self.age,self.classes)

obj=Sub("pratap","45","4th")
obj.show()

pratap 45 4th

In [3]:
df=pd.read_csv("bank_final.csv")

In [4]:
df

,Unnamed: 0,Age Group,Gender,Bank_Name,Sector,Work_Experience,ROLE,NEW_IRD1,RS_NEW,RA_NEW,NEW_PI,ROI_NEW,RI_NEW,REC_NEW,RO_NEW,SRD_NEW,RE_NEW
0,0,30-40,Female,Kalupur,Private,3-6 Years,1,4,2,5,2,4,3,4,3,2,2
1,1,20-30,Female,Kalupur,Private,0-3 Years,5,3,4,5,4,5,4,4,3,4,4
2,2,20-30,Male,Kalupur,Private,0-3 Years,2,3,2,1,3,4,3,3,3,2,2
3,3,50-60,Male,Kalupur,Private,More Than 12 Years,5,1,4,4,2,5,2,4,2,1,4
4,4,40-50,Male,Kalupur,Private,6-9 Years,5,4,1,2,3,5,3,3,2,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,265,30-40,Male,Canara Bank,Govt,3-6 Years,1,1,1,1,1,1,1,1,1,5,1
266,266,30-40,Male,Canara Bank,Govt,3-6 Years,1,2,3,3,2,2,3,3,1,1,3
267,267,40-50,Male,Kalupur,Private,3-6 Years,1,2,3,1,1,1,3,2,1,3,2
268,268,30-40,Male,Kalupur,Private,3-6 Years,1,1,2,2,1,1,1,3,1,1,1
269,269,20-30,Male,Kalupur,Private,3-6 Years,1,1,1,3,1,3,5,2,3,3,2

In [5]:
list1=[]
for i  in df.Gender:
    if i=="Female":
        list1.append(i)
print(list1)

['Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female']

In [6]:
s=(1,2,3,4,5,6,7)
print(f"The tuple values are {s}")

The tuple values are (1, 2, 3, 4, 5, 6, 7)

In [7]:
a=set()

In [8]:
a.add(3)

In [9]:
d={}

In [10]:
list12=[]

In [11]:
dg=()

In [12]:
gh={}

In [13]:
lis23=[1,2,3,44,5,676,72,3,44]

In [14]:
lis23

[1, 2, 3, 44, 5, 676, 72, 3, 44]

In [15]:
we=set(lis23)

In [16]:
we

{1, 2, 3, 5, 44, 72, 676}

In [17]:
qw=[1,2,333,4,56,1,2]

In [18]:
a=set(qw)

In [20]:
type(a)

set

In [27]:
a

{1, 2, 4, 56, 333}

In [28]:
for  i in  a:
    print(i)

1
2
4
333
56

In [31]:
a=(1,2,3,4,5,5,6,6,7)

In [33]:
df=set(a)

In [34]:
df

{1, 2, 3, 4, 5, 6, 7}

In [37]:
d={}

In [38]:
list90=[1,2,3,4,5,12,3,1]

In [39]:
list90

[1, 2, 3, 4, 5, 12, 3, 1]

In [40]:
a=set(list90)

In [41]:
a

{1, 2, 3, 4, 5, 12}

In [45]:
list90

[1, 2, 3, 4, 5, 12, 3, 1]

In [54]:
list90[::-1]

[1, 3, 12, 5, 4, 3, 2, 1]

In [55]:
d={}

In [56]:
d["4"]=("Pretty","singh")

In [57]:
d

{'4': ('Pretty', 'singh')}

In [1]:
gh=[1,2,3,4,5,6,7,89]

In [8]:
gh[:5:]

[1, 2, 3, 4, 5]

In [90]:
gh.reverse()

In [91]:
gh

[89, 7, 6, 5, 4, 3, 2, 1]

In [106]:
sd=np.array([1,2,3,4,5])
type(sd)

numpy.ndarray

In [103]:
list=[1,2,3,4,5,56]

In [107]:
s=(1,23,4,5)

In [142]:


df=pd.read_csv("final_ors1.csv")

In [136]:
gh=[]
for i,j in  zip(df.Gender,df.Sector):
    if i=="Female":
        if j=="Private":
         gh.append(i)
         gh.append(j)

In [163]:
df

,Unnamed: 0,Age Group,Gender,Bank_Name,Sector,Work_Experience,ROLE,NEW_IRD1,RS_NEW,RA_NEW,NEW_PI,ROI_NEW,RI_NEW,REC_NEW,RO_NEW,SRD_NEW,RE_NEW
0,0,30-40,Female,Kalupur,Private,3-6 Years,1,4,2,5,2,4,3,4,3,2,2
1,1,20-30,Female,Kalupur,Private,0-3 Years,5,3,4,5,4,5,4,4,3,4,4
2,2,20-30,Male,Kalupur,Private,0-3 Years,2,3,2,1,3,4,3,3,3,2,2
3,3,50-60,Male,Kalupur,Private,More Than 12 Years,5,1,4,4,2,5,2,4,2,1,4
4,4,40-50,Male,Kalupur,Private,6-9 Years,5,4,1,2,3,5,3,3,2,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,265,30-40,NaN,Canara Bank,Govt,3-6 Years,1,1,1,1,1,1,1,1,1,5,1
266,266,30-40,Male,Canara Bank,Govt,3-6 Years,1,2,3,3,2,2,3,3,1,1,3
267,267,40-50,NaN,Kalupur,Private,3-6 Years,1,2,3,1,1,1,3,2,1,3,2
268,268,30-40,Male,Kalupur,Private,3-6 Years,1,1,2,2,1,1,1,3,1,1,1
269,269,20-30,Male,Kalupur,Private,3-6 Years,1,1,1,3,1,3,5,2,3,3,2

In [145]:

is_even_list = [lambda arg=x: arg * 10 for x in range(1, 5)]
 

for item in is_even_list:
    print(item())

10
20
30
40

In [151]:
rg=df.Gender.map(lambda a: 0 if a=="Female" else 1)

In [152]:
rg

0      0
1      0
2      1
3      1
4      1
      ..
265    1
266    1
267    1
268    1
269    1
Name: Gender, Length: 270, dtype: int64

In [153]:
max=lambda a,b:a+b

In [154]:
max(1,2)

3

In [155]:
df

,Unnamed: 0,Age Group,Gender,Bank_Name,Sector,Work_Experience,ROLE,NEW_IRD1,RS_NEW,RA_NEW,NEW_PI,ROI_NEW,RI_NEW,REC_NEW,RO_NEW,SRD_NEW,RE_NEW
0,0,30-40,Female,Kalupur,Private,3-6 Years,1,4,2,5,2,4,3,4,3,2,2
1,1,20-30,Female,Kalupur,Private,0-3 Years,5,3,4,5,4,5,4,4,3,4,4
2,2,20-30,Male,Kalupur,Private,0-3 Years,2,3,2,1,3,4,3,3,3,2,2
3,3,50-60,Male,Kalupur,Private,More Than 12 Years,5,1,4,4,2,5,2,4,2,1,4
4,4,40-50,Male,Kalupur,Private,6-9 Years,5,4,1,2,3,5,3,3,2,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,265,30-40,NaN,Canara Bank,Govt,3-6 Years,1,1,1,1,1,1,1,1,1,5,1
266,266,30-40,Male,Canara Bank,Govt,3-6 Years,1,2,3,3,2,2,3,3,1,1,3
267,267,40-50,NaN,Kalupur,Private,3-6 Years,1,2,3,1,1,1,3,2,1,3,2
268,268,30-40,Male,Kalupur,Private,3-6 Years,1,1,2,2,1,1,1,3,1,1,1
269,269,20-30,Male,Kalupur,Private,3-6 Years,1,1,1,3,1,3,5,2,3,3,2

In [161]:
er=df.Sector.map(lambda a: 0  if a=="Private" else 1 )

In [162]:
er

0      0
1      0
2      0
3      0
4      0
      ..
265    1
266    1
267    0
268    0
269    0
Name: Sector, Length: 270, dtype: int64

In [164]:
df

,Unnamed: 0,Age Group,Gender,Bank_Name,Sector,Work_Experience,ROLE,NEW_IRD1,RS_NEW,RA_NEW,NEW_PI,ROI_NEW,RI_NEW,REC_NEW,RO_NEW,SRD_NEW,RE_NEW
0,0,30-40,Female,Kalupur,Private,3-6 Years,1,4,2,5,2,4,3,4,3,2,2
1,1,20-30,Female,Kalupur,Private,0-3 Years,5,3,4,5,4,5,4,4,3,4,4
2,2,20-30,Male,Kalupur,Private,0-3 Years,2,3,2,1,3,4,3,3,3,2,2
3,3,50-60,Male,Kalupur,Private,More Than 12 Years,5,1,4,4,2,5,2,4,2,1,4
4,4,40-50,Male,Kalupur,Private,6-9 Years,5,4,1,2,3,5,3,3,2,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,265,30-40,NaN,Canara Bank,Govt,3-6 Years,1,1,1,1,1,1,1,1,1,5,1
266,266,30-40,Male,Canara Bank,Govt,3-6 Years,1,2,3,3,2,2,3,3,1,1,3
267,267,40-50,NaN,Kalupur,Private,3-6 Years,1,2,3,1,1,1,3,2,1,3,2
268,268,30-40,Male,Kalupur,Private,3-6 Years,1,1,2,2,1,1,1,3,1,1,1
269,269,20-30,Male,Kalupur,Private,3-6 Years,1,1,1,3,1,3,5,2,3,3,2

In [165]:
gh=df.Gender.map(lambda a: 0 if a=="Female" else 1 )

In [167]:
add=lambda a,b:a+b

In [170]:
type(gh)

pandas.core.series.Series

In [171]:
df["new"]=gh

,Unnamed: 0,Age Group,Gender,Bank_Name,Sector,Work_Experience,ROLE,NEW_IRD1,RS_NEW,RA_NEW,NEW_PI,ROI_NEW,RI_NEW,REC_NEW,RO_NEW,SRD_NEW,RE_NEW,new
0,0,30-40,Female,Kalupur,Private,3-6 Years,1,4,2,5,2,4,3,4,3,2,2,0
1,1,20-30,Female,Kalupur,Private,0-3 Years,5,3,4,5,4,5,4,4,3,4,4,0
2,2,20-30,Male,Kalupur,Private,0-3 Years,2,3,2,1,3,4,3,3,3,2,2,1
3,3,50-60,Male,Kalupur,Private,More Than 12 Years,5,1,4,4,2,5,2,4,2,1,4,1
4,4,40-50,Male,Kalupur,Private,6-9 Years,5,4,1,2,3,5,3,3,2,2,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,265,30-40,NaN,Canara Bank,Govt,3-6 Years,1,1,1,1,1,1,1,1,1,5,1,1
266,266,30-40,Male,Canara Bank,Govt,3-6 Years,1,2,3,3,2,2,3,3,1,1,3,1
267,267,40-50,NaN,Kalupur,Private,3-6 Years,1,2,3,1,1,1,3,2,1,3,2,1
268,268,30-40,Male,Kalupur,Private,3-6 Years,1,1,2,2,1,1,1,3,1,1,1,1
269,269,20-30,Male,Kalupur,Private,3-6 Years,1,1,1,3,1,3,5,2,3,3,2,1

In [173]:
rt=[1,23,34,5,5,6,76,7,7]

In [174]:
rt

[1, 23, 34, 5, 5, 6, 76, 7, 7]

In [181]:
count=0
for i  in rt:
    count+=1

In [182]:
count

9

In [191]:
def sort(arr,low,high,x):
    if high>=low:
        mid=(low+high)/2

        if arr[mid]==x:
         print("this is number we want it find")

        elif arr[mid]>x:
            return sort(arr, low, mid - 1, x)
        else:
            return sort(arr,mid+1,high,x)


arr=[1,2,3,4,5,6,76]
x=6

sort(arr, 0, len(arr)-1, x)

TypeError: list indices must be integers or slices, not float

In [185]:

def binary_search(arr, low, high, x):

	
	if high >= low:

		mid = (high + low) // 2

		
		if arr[mid] == x:
			return mid

		
		elif arr[mid] > x:
			return binary_search(arr, low, mid - 1, x)

		else:
			return binary_search(arr, mid + 1, high, x)

	else:
		# Element is not present in the array
		return -1

# Test array
arr = [ 2, 3, 4, 10, 40 ]
x = 10

# Function call
result = binary_search(arr, 0, len(arr)-1, x)

if result != -1:
	print("Element is present at index", str(result))
else:
	print("Element is not present in array")

Element is present at index 3

In [202]:
def sort(arr,low,high,x):

	
	if high>=low:

		mid = (high+low)/2

		
		if arr[mid]==x:
			return mid

		
		elif arr[mid]>x:
			return sort(arr,low,mid-1,x)

		else:
			return sort(arr,mid+1,high,x)

	else:
		# Element is not present in the array
		return -1

ar=[1,2,3,4,5,65,3,3,2,56]
x=65

#sort(arr=ar,0,len(ar)-1, 65)
sort(ar, 0, len(arr)-1, x)

TypeError: list indices must be integers or slices, not float

In [203]:
a=[]

In [211]:
for i  in df:
    if i == "Female":
        a.append(i)

In [209]:
len(a)

118

In [217]:
from random import random


for   i  in range(1,56,5):
    print(i)

1
6
11
16
21
26
31
36
41
46
51

In [237]:

for i in range(1, 6):
    for j in range(i):
         print( i,end="")
    print()

1
22
333
4444
55555

In [238]:
count=0

In [244]:
count=0
while count <4:
    print("my n ame")
    count=count+1

my n ame
my n ame
my n ame
my n ame

In [257]:
for i,j  in zip(range(1,5),range(1,5)):

In [260]:
qw=df.Gender.map(lambda a: 0  if a=="Female" else 1)

In [262]:
df

,Unnamed: 0,Age Group,Gender,Bank_Name,Sector,Work_Experience,ROLE,NEW_IRD1,RS_NEW,RA_NEW,NEW_PI,ROI_NEW,RI_NEW,REC_NEW,RO_NEW,SRD_NEW,RE_NEW,new
0,0,30-40,Female,Kalupur,Private,3-6 Years,1,4,2,5,2,4,3,4,3,2,2,0
1,1,20-30,Female,Kalupur,Private,0-3 Years,5,3,4,5,4,5,4,4,3,4,4,0
2,2,20-30,Male,Kalupur,Private,0-3 Years,2,3,2,1,3,4,3,3,3,2,2,1
3,3,50-60,Male,Kalupur,Private,More Than 12 Years,5,1,4,4,2,5,2,4,2,1,4,1
4,4,40-50,Male,Kalupur,Private,6-9 Years,5,4,1,2,3,5,3,3,2,2,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,265,30-40,NaN,Canara Bank,Govt,3-6 Years,1,1,1,1,1,1,1,1,1,5,1,1
266,266,30-40,Male,Canara Bank,Govt,3-6 Years,1,2,3,3,2,2,3,3,1,1,3,1
267,267,40-50,NaN,Kalupur,Private,3-6 Years,1,2,3,1,1,1,3,2,1,3,2,1
268,268,30-40,Male,Kalupur,Private,3-6 Years,1,1,2,2,1,1,1,3,1,1,1,1
269,269,20-30,Male,Kalupur,Private,3-6 Years,1,1,1,3,1,3,5,2,3,3,2,1

In [263]:
tiple=(1,23,3,4,54,5,67)

In [265]:
et=set(tiple)

In [266]:
et

{1, 3, 4, 5, 23, 54, 67}

In [269]:
list=[1,2,3,4,5,56,6]

In [275]:
list[3::-1]

[4, 3, 2, 1]

In [293]:
for i in range(1,6):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [285]:
for i in range(1, 5):
    for j in range(i):
         print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4

In [299]:
class Name:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def show(self):
        print(self.name,self.age)

class Anime(Name):
    def __init__(self,name,age,section):
        self.section=section
        Name.__init__(self,name,age)

    def ren(self):
            print(self.name,self.age,self.section)


obj=Anime("pratap","45","upper section")
obj.ren()

pratap 45 upper section

In [313]:
class Name:
    def __init__(self,name,age):
        self._name=name
        self.age=age

    def show(self):
        print(self._name,self.age)

class Base(Name):
    def __init__(self,name,age,section):
        self.section=section
        Name.__init__(self,name,age)

    def show1(self):
        print(self._name,self.age,self.section)

obj=Base("pratap","34","ert")
obj.show1()

pratap 34 ert

In [93]:
from calendar import c


class Man:
    def __init__(self):
        self.a="pratap"
        self.b="singh"

    def show(self):
        return self.a

    
class Women:
    def __init__(self):
        self.c="yadav"
        Man.__init__(self)
        super().show()

obj=Women()
obj.show()

AttributeError: 'super' object has no attribute 'show'

In [308]:
"""Abstraction Method in python"""

'Abstraction Method in python'

In [319]:
class Student:
    __schoolName = 'XYZ School'

    def __init__(self, name, age):
        self.__name=name  # private instance attribute
        self.__salary=age # private instance attribute
    def __display(self):  # private method
	    print('This is private method.')

obj = Student("pratap","45")

In [321]:
obj._Student__schoolName

'XYZ School'

In [323]:
"""For accessing class private features  we use obj._Student__schoolName"""

'For accessing class private features  we use obj._Student__schoolName'

In [327]:
class Name:
    _name="ndanfjdsnf"
    def __init__(self,name,age):
        self._name1=name
        self._age=age

    def show(self):
        print(self._name1)

obj=Name("pratap","34")

obj._name

'ndanfjdsnf'

In [345]:
class Name:
    _name="ndanfjdsnf"
    def __init__(self,name,age):
        self._name1=name
        self._age=age

    def show(self):
        print(self._name1)

obj=Name("pratap","34")

In [346]:
obj._name

'ndanfjdsnf'

In [349]:
class Name:
    __xc="ertewnjtrj"
    def __init__(self,name,age):
        self.__name=name
        self.__age=age

    def __show(self):
        return  self.__name

obj=Name("pratap","45")
obj._Name__show()

'pratap'

In [6]:
class  Name:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    @property
    def email(self):
        return (f"{self.name}{self.age}.com")

class Existence:
    def __init__(self,name,age,section):
        self.section=section
        Name.__init__(self,name,age)

    def show(self):
        return self.name,self.age,self.section

obj1=Existe

obj=Name("pratap","singh")
obj.name="aryan"
obj.email

'aryansingh.com'

In [13]:
class  Name:
    def __init__(self,name=0):
        self.name=name
    @property
    def show(self):
        return self.name

    @show.setter
    def show(self,value):
        if value<-243:
            raise ValueError("this is very wrong")
        print("ewdfggjdsn")
        self.name=value

obj=Name()
 
obj.name=349
obj.show

349

In [30]:
import numpy as np
data=(1,2,3,4,5)
result = map(lambda x: x + x,data)
list(result)

[2, 4, 6, 8, 10]

In [33]:
list=[]
for i  in  data:
    i=i+i
    list.append(i)
list

[2, 4, 6, 8, 10]

In [36]:
import pandas as pd
import numpy as np

df=pd.read_csv("cyberdata.csv")

In [55]:
list=[]

for i  in  df.durations:
    if i==2:
        list.append(i)

In [57]:
len(list)

103

In [70]:
df["protocol_type"]=df.protocol_type.map({"tcp":1,"udp":2, "icmp":3})
df

,Unnamed: 0,durations,protocol_type,service,flags,src_bytes,dst_bytes,land,wrong_fragment,urgent,...,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,attack,level,attack_label
0,0,0,1,private,REJ,0,0,0,0,0,...,0.06,0.00,0.00,0.00,0.0,1.00,1.00,neptune,21,1
1,1,2,1,ftp_data,SF,12983,0,0,0,0,...,0.04,0.61,0.02,0.00,0.0,0.00,0.00,normal,21,0
2,2,0,3,eco_i,SF,20,0,0,0,0,...,0.00,1.00,0.28,0.00,0.0,0.00,0.00,saint,15,1
3,3,1,1,telnet,RSTO,0,15,0,0,0,...,0.17,0.03,0.02,0.00,0.0,0.83,0.71,mscan,11,1
4,4,0,1,http,SF,267,14515,0,0,0,...,0.00,0.01,0.03,0.01,0.0,0.00,0.00,normal,21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22538,22538,0,1,smtp,SF,794,333,0,0,0,...,0.06,0.01,0.01,0.01,0.0,0.00,0.00,normal,21,0
22539,22539,0,1,http,SF,317,938,0,0,0,...,0.00,0.01,0.01,0.01,0.0,0.00,0.00,normal,21,0
22540,22540,0,1,http,SF,54540,8314,0,0,0,...,0.00,0.00,0.00,0.00,0.0,0.07,0.07,back,15,1
22541,22541,0,2,domain_u,SF,42,42,0,0,0,...,0.01,0.00,0.00,0.00,0.0,0.00,0.00,normal,21,0
22542,22542,0,1,sunrpc,REJ,0,0,0,0,0,...,0.03,0.00,0.00,0.00,0.0,0.44,1.00,mscan,14,1

In [78]:
a=0
while a<10:
    a=a+1
    print(a)

1
2
3
4
5
6
7
8
9
10

In [98]:

# start: 1
# stop: row+1 (range never include stop number in result)
# step: 1
# run loop 5 times
  for i in range(1, 7):
      # Run inner loop i+1 times
      for j in range(1, i):
        print(j, end=" ")
      # empty line after each row
      print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [120]:
for i  in  range(1,5):
    for j in  range(1,i+1):
        print(j,end=" ")
    print("")

1
1 2
1 2 3
1 2 3 4

In [121]:
df

,Unnamed: 0,durations,protocol_type,service,flags,src_bytes,dst_bytes,land,wrong_fragment,urgent,...,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,attack,level,attack_label
0,0,0,1,private,REJ,0,0,0,0,0,...,0.06,0.00,0.00,0.00,0.0,1.00,1.00,neptune,21,1
1,1,2,1,ftp_data,SF,12983,0,0,0,0,...,0.04,0.61,0.02,0.00,0.0,0.00,0.00,normal,21,0
2,2,0,3,eco_i,SF,20,0,0,0,0,...,0.00,1.00,0.28,0.00,0.0,0.00,0.00,saint,15,1
3,3,1,1,telnet,RSTO,0,15,0,0,0,...,0.17,0.03,0.02,0.00,0.0,0.83,0.71,mscan,11,1
4,4,0,1,http,SF,267,14515,0,0,0,...,0.00,0.01,0.03,0.01,0.0,0.00,0.00,normal,21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22538,22538,0,1,smtp,SF,794,333,0,0,0,...,0.06,0.01,0.01,0.01,0.0,0.00,0.00,normal,21,0
22539,22539,0,1,http,SF,317,938,0,0,0,...,0.00,0.01,0.01,0.01,0.0,0.00,0.00,normal,21,0
22540,22540,0,1,http,SF,54540,8314,0,0,0,...,0.00,0.00,0.00,0.00,0.0,0.07,0.07,back,15,1
22541,22541,0,2,domain_u,SF,42,42,0,0,0,...,0.01,0.00,0.00,0.00,0.0,0.00,0.00,normal,21,0
22542,22542,0,1,sunrpc,REJ,0,0,0,0,0,...,0.03,0.00,0.00,0.00,0.0,0.44,1.00,mscan,14,1

In [122]:
df.flags.map({"REJ":1,"SF":2})

0        1.0
1        2.0
2        2.0
3        NaN
4        2.0
        ...
22538    2.0
22539    2.0
22540    2.0
22541    2.0
22542    1.0
Name: flags, Length: 22543, dtype: float64

In [124]:
df.protocol_type.map({})

0        1
1        3
2        1
3        2
4        1
        ..
22538    1
22539    1
22540    1
22541    1
22542    1
Name: durations, Length: 22543, dtype: int64

In [3]:
for i in range(1,5):
    for j in range(1,i+1):
        print(j,end=" ")
    print("")

1
1 2
1 2 3
1 2 3 4

Polymorphism

In [1]:
class  Name:

    def animal(self):
        print("all animals are wild")
    def show(self):
        print("But dogs are domestic")
class Base(Name):
    def animal():
        print("all animalsa are wild but some are domestic")
    def show():
        print("cats are also domestic")

obj1=Name()
obj2=Base()

for i  in  (obj1,obj2):
    i.animal
    i.show

In [2]:
import numpy as np

In [10]:
a=np.array([1,2,3,4,5,65])  #1D array
a

array([ 1,  2,  3,  4,  5, 65])

In [11]:
b=np.array(34) #0D array
b

array(34)

In [13]:
c=np.array([[1,2,3,4,5],[4,5,2,3,4]])

In [16]:
d=np.array([[123,34,545,23],[23,434,3134,324],[214,213,243,34]])

In [21]:
print(c.ndim)

2

In [24]:
list23=[1,2,3,4.4,45.3,23]

In [42]:
arr=np.array([[[1,4,53],[56,345,234]],[[2,4,3],[345,45,45]]])

In [47]:
arr[0,1,2]

234

In [54]:
import random

In [55]:
listy=[2,3,5,2,3,4]

In [72]:
arr

array([[[  1,   4,  53],
        [ 56, 345, 234]],

       [[  2,   4,   3],
        [345,  45,  45]]])

In [77]:
arr

array([[[  1,   4,  53],
        [ 56, 345, 234]],

       [[  2,   4,   3],
        [345,  45,  45]]])

In [79]:
we=arr.sort()

In [81]:
df=[1,2.3,4,5.5,3]